<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />

    <title>About</title>
</head>
<body>
 
  <%- include('partials/navbar', {page:'/about'})%>
    <div class="container mx-auto">
        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold">About</h1>
                <br>
                <p class="py-6">Discover the story behind Farouk Alhassan: Passion, Purpose, and Perseverance.</p>
              </div>
            </div>
        </div>

        <br>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
              <img class="w-full rounded-lg mb-6 md:mb-0"
                src="https://images.unsplash.com/photo-1630386226447-af0a955c1009?q=80&w=1424&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="profile" />
      
            </div>
            <div class="prose">
      
              <p>
                I'm Farouk Alhassan, a web developer/ software Engineer. I find joy in coding and hope that my skills will make a real impact in any company I join. When I'm not immersed in programming, 
                you can find me enjoying soccer matches or having a blast playing games with my friends. 
                Oh, and I can't forget my love for coffee – it's a must-have in my daily routine! I'm always eager to talk about technology, gaming, or anything else that piques your interest. Feel free to share your thoughts or ask me anything!</p>
      
            </div>
      
          </div>
          <br>
      


    </div>
  </body>
</html>